<html>
    <head>
        <title>Employee||Data</title>
        <link rel="stylesheet" href="/stylesheets/new.css">
    </head>
    <body>
        <div>
            <h1>Add Employee</h1>
            <form action="/employee/new" method="POST">
             
              <input required type="text" id="fname" name="empname" placeholder="Employee Name">
          
              
              <input required type="tel"  pattern="[0-9]{10}" id="phone" name="pnumber" placeholder="Phone Number">
          
              <input required type="email" id="email" name="email" placeholder="Email">
              
              <input required type="text" id="hobby" name="ehobby" placeholder="Hobbies">
             
              
            
              <input type="submit" value="Submit">
            </form>
          </div>
          
    </body>
</html>